<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="theme-color" content="#000000" />

    <meta name="description" content="Full stack software developer based out of Seattle, WA" />
    <meta name="keywords" content="gavin, thomas, design, react, javascript, webpack" />
    <meta property="og:url" content="https://gthomas.me/" />
    <meta property="og:site_name" content="Gavin Thomas | Software Developeer" />
    <meta property="og:title" content="Gavin Thomas | Software Developer" />
    <meta property="og:description" content="Full stack software developer based out of Seattle, WA" />
    <meta property="og:type" content="website" />



    <title>
        Gavin Thomas
    </title>
</head>

<body>
    <div id="app"></div>
</body>

</html>